@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300&family=Poppins:wght@600&display=swap');

*{
	font-family: 'Catamaran', sans-serif;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #ffe08b;
}

#pictureindex{
    background-image: url(/database_project/img/lee1.jpg);
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#loveAj a{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
