@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

h7 {
  font-weight: 700;
  font-size: 38px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

p .page-header{
  font-size: 26px;
  color: #E3E6F3;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* .bgcontent {
  background-image: url("/img/bg.jpg");
  background-size: cover;
} */

/* Header Start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #2A2F4F;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
}

.headerlogo{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color: #E5BEEC;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 50%;
  height: 2px;
  background: #E5BEEC;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar-after{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-after li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar-after li a{
text-decoration: none;
font-size: 20px;
font-weight: 600;
color: white;
transition: 0.3s ease;
}

#navbar-after li a:hover,
#navbar-after li a.active{
color: #E5BEEC;
}

#navbar-after li a.active::after,
#navbar-after li a:hover::after{
content: "";
width: 50%;
height: 2px;
background: #E5BEEC;
position: absolute;
bottom: -4px;
left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

/* Home Page */
#hero{
  background-image: url(/img/bannerhero.png);
  height: 100vh;
  width: 100%;
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* #hero-banner{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.boxtext-feature{
  width: 30%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #2A2F4F;
  border-radius: 15px;
  /* justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column; */
}

.boxtext-feature .textfeature{
  text-align: center;
}

.boxtext-product{
  width: 40%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #2A2F4F;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.boxtext-product .textproduct{
  text-align: center;
}


#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: #917FB3;
}

#hero button{
  background-image: url(/img/button.png);
  background-color: transparent;
  color: #917FB3;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 250px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  border: 1px solid #2A2F4F;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #917FB3;
  background-color: #FDE2F3;
}

#feature .fe-box:nth-child(2) h6{
  background-color: #82dbeb;
}

#feature .fe-box:nth-child(3) h6{
  background-color: #ffe08b;
}

#feature .fe-box:nth-child(4) h6{
  background-color: #9adfbf;
}

#feature .fe-box:nth-child(5) h6{
  background-color: #e7b8a6;
}

#feature .fe-box:nth-child(6) h6{
  background-color: #FDE2F3;
}

#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #2A2F4F;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #2A2F4F;
  font-size: 14px;
}

#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #222;
}

#product1 .pro .cartbuy{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* Media screen*/

@media (max-width:820px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active{
    right : 0px;
  }

  #navbar li{
    margin-bottom: 25px;
  }

  #mobile{
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag{
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }
}

@media (max-width: 477px) {
  .section-p1{
    padding: 20px;
  }
  #header{
    padding: 10px 30px;
  }
  
  h1{
    font-size: 38px;
  }

  h2{
    font-size: 32px;
  }

  #hero{
    padding: 0 20px;
    background-position: 55%;
  }

  #feature{
    justify-content: space-between;
  }
  
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product .pro{
    width: 100%;
  }

  /* media single product */
  #prodetails{
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image{
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details{
    width: 100%;
  }
}

/* Shop Page */

#page-header {
  background-image: url("/database_project/img/banner/banner4.png");
  width: 100%;
  height: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-cart{
    background-image: url("/database_project/img/banner/banner5.png");
    width: 100%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }

  #page-table{
    background-image: url("/database_project/img/banner/banner6.png");
    width: 100%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }

#page-header h2,
#page-header p{
  color: #fff;
}

#pagination{
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* single product */
#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image{
  object-fit: cover;
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
  font-size: 26px;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details button{
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}

/* Cart Page */
/* #cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead{
  border: 1px solid #e2e0e1;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td{
  padding-top: 15px;
}

#cart table tbody td{
  font-size: 15px;
} */

#card-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e0e1;
}

#coupon button,
#subtotal button{
  background-color: #917FB3;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e0e1;
  padding: 30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td{
  width: 50%;
  border: 1px solid #e2e0e1;
  padding: 10px;
  font-size: 13px;
}

/* test */

#feature-head{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  position: relative;
  background: #000116;
  height: 92vh;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 3s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(1.5px); */
}

.slider .slide .info{
  position: absolute;
  color: #222;
  width: 45%;
  height: 200px;
  /* margin-top: 370px;
  margin-left: 600px; */
  padding: 20px;
  border-radius: 5px;
  background: #fffafa;
  box-shadow:  -5px 0px 5px #fcf8f8,
               5px 0px 5px #fffdfd;
}

.slider .slide .info .info2{
  margin-top: 25px;
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navigation{
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}

#title h2{
  text-align: center;
}

.section-p3{
  padding: 40px 80px 0 40px;
}

#coupon .halfpayhalforeder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px ;
}

.halfpayhalforeder .payment-method{
  width: 50%;
}

.halfpayhalforeder .order-type{
  width: 50%;
}

#coupon select{
  width: 135px;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

/* cart lastet*/

.shopping-cart{
  padding:20px 0;
}

.shopping-cart table{
  width: 100%;
  text-align: center;
  border:var(--border);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.shopping-cart table thead{
  background-color: var(--black);
}

.shopping-cart table thead th{
  padding:10px;
  color:var(--white);
  text-transform: capitalize;
  font-size: 20px;
}

.shopping-cart table .table-bottom{
  background-color: var(--light-bg);
}

.shopping-cart table tr td{
  padding:10px;
  font-size: 20px;
  color:var(--black);
}

.shopping-cart table tr td:nth-child(1){
  padding:0;
}

.shopping-cart table tr td input[type="number"]{
  width: 80px;
  border:var(--border);
  padding:12px 14px;
  font-size: 20px;
  color:var(--black);
}

.shopping-cart .cart-btn{
  margin-top: 10px;
  text-align: center;
}

.shopping-cart .disabled{
  pointer-events: none;
  background-color: var(--red);
  opacity: .5;
  user-select: none;
}